<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" style="width: 50%">Item</th>
      <th scope="col" style="width: 15%">Price</th>
      <th scope="col" style="width: 10%">Quantity</th>
      <th scope="col" style="width: 15%">Total Price</th>
      <th scope="col" style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cartItems; let i = index">
      <td>
        {{ item.name }}
      </td>
      <td>&#8377;{{ item.price }}</td>
      <td>
        <input
          type="number"
          value="{{ item.quantity }}"
          min="1"
          id="{{ item.id }}"
          [(ngModel)]="item.quantity"
          (change)="onChangeCartItem(item)"
        />
      </td>
      <td>&#8377; {{ item.quantity * item.price }}</td>
      <td>
        <button
          type="button"
          class="btn btn-outline-danger btn-icon"
          aria-label="Left Align"
          id="{{ item.id }}"
          (click)="onDeleteCartItem(item)"
        >
          Remove
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <h5 class="float-right">Total {{ cartTotal }}</h5>
      </td>
    </tr>
  </tfoot>
</table>
