<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cartItems; let i = index">
      <td>
        {{ item.name }}
      </td>
      <td>{{ item.price }} Rs.</td>
      <td>
        <input
          type="number"
          value="{{ item.quantity }}"
          min="1"
          id="{{ item.id }}"
          [(ngModel)]="item.quantity"
          (change)="onCartItemChanged($event)"
        />
      </td>
      <td>{{ item.quantity * item.price }} USD</td>
      <td>
        <button
          type="button"
          class="btn btn-outline-danger btn-icon"
          aria-label="Left Align"
          id="{{ item.id }}"
          (click)="onCartItemDeleted($event)"
        >
          X
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <h5 class="float-right">Total {{ cartTotal }}</h5>
      </td>
    </tr>
  </tfoot>
</table>
