<div class="row product-wrapper">
  <div
    class="col-sm-6 col-md-4 col-lg-3 product-item"
    *ngFor="let item of productItem"
  >
    <div class="card">
      <img
        class="card-img-top image-fluid"
        [src]="item.imageUrl"
        alt="{{ item.name }}"
      />
      <div class="card-body">
        <h3>{{ item.name }}</h3>
        <p>Price {{ item.price }} USD</p>
        <button
          class="btn btn-primary"
          id="{{ item.id }}"
          (click)="onCartUpdated($event)"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
